<!DOCTYPE html>
<html>
	<head>
		<title>Multiplayer Set</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div class="table">
			<div class="lineWrapper">
				<div class="card">
				</div>
				<div class="card">
				</div>	
				<div class="card">
				</div>
				<div class="card">
				</div>
			</div>
			<div class="lineWrapper">
				<div class="card">
				</div>
				<div class="card">
				</div>	
				<div class="card">
				</div>
				<div class="card">
				</div>
			</div>
			<div class="lineWrapper">
				<div class="card">
				</div>
				<div class="card">
				</div>	
				<div class="card">
				</div>
				<div class="card">
				</div>
			</div>
		</div>
	</body>
</html>