<!DOCTYPE html>
<html>
	<head>
		<title>Multiplayer Set</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</head>
	<body>
		<div class="table">
			<div class="lineWrapper">
				<div class="card">
				</div>
				<div class="card">
				</div>	
				<div class="card">
				</div>
				<div class="card">
				</div>
			</div>
			<div class="lineWrapper">
				<div class="card">
				</div>
				<div class="card">
				</div>	
				<div class="card">
				</div>
				<div class="card">
				</div>
			</div>
			<div class="lineWrapper">
				<div class="card">
				</div>
				<div class="card">
				</div>	
				<div class="card">
				</div>
				<div class="card">
				</div>
			</div>
		</div>
	</body>
</html>